<html>

<head>
<title>LinkedLearning</title>
<h1>
    LinkedLearning   
</h1>
<h3>learning goals formed through your social network </h3>
</head>

<body>

What should <strong>you</strong> be learning? Our app scans the professional skills of your social connections and suggests online courses you can further your professional development with.  

    Please <a href="https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id=m70mm27vpve4&state=aaa&redirect_uri=http://localhost:8000/youarein">sign in</a> to your LinkedIn profile to find out!
</body>
</html>
