<html id="welcomePage">
<head>

  <link rel="stylesheet" href="http://localhost:8000/static/stylesheet.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" type="text/css" href="http://localhost:8000/static/welcome.css" media="screen" />
<title>LinkedLearning </title>
</head>
<body>
  <div id="about">
    <div id="creator-header">c r e a t o r s</div><br>
    <div class="creator">
      <div id="rudy" class="circle"></div><br>
      RUDY DAI
      <div class="social-icons">
        <a href="http://www.github.com/rudydai"><div class="github icon"></div></a>
        <a href="http://www.linkedin.com/pub/rudy-dai/55/5a2/a57"><div class="linkedin icon"></div></a>
        <a href="mailto:rudydai@gmail.com">
        <div class="email icon"></div></a>
      </div>
    </div>

    <div class="creator">
      <div id="david" class="circle"></div><br>
      DAVID CHANG
      <div class="social-icons">
        <a href="http://www.github.com/supermacaw"><div class="github icon"></div></a>
        <a href="http://www.linkedin.com/pub/david-chang/9/716/723"><div class="linkedin icon"></div></a>
        <a href="mailto:supermacaw@gmail.com"><div class="email icon"></div></a>
      </div>
    </div>

  </div>
    <div id="header">
      <span id="logo">LINKED<span id="logo-learning">LEARNING</span></span><br>
      <div id="description">
        learning goals formed through your professional network

      <div id="signIn">
      to access your data, please <a href="https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id=m70mm27vpve4&state=aaa&redirect_uri=http://localhost:8000/youarein" class="link">sign in</a>
      </div>

      </div>
    </div>


</body>
</html>
