<html id="please-wait">
	<link rel="stylesheet" href="/static/stylesheets/please_wait.css" type="text/css" charset="utf-8" />
	<link rel="stylesheet" href="/static/stylesheets/stylesheet.css" type="text/css" charset="utf-8" />
<body>
	<div class="container">
	<div class="working-header">
    Working...
	</div>
	<span class="wait-msg">
    Please be patient while we work to get more information, you should be redirected shortly
    </span>
    <div>
    <a href= "http://{{ request.META.HTTP_HOST }}/results" class="link">Continue</a> to your results! (until we know how a loading page works)
    </div>
    </div>
</body>
</html>
