<html id="welcomePage">
<head>
  <script src="/static/javascript/jquery-2.0.3.min.js"></script>
  <link rel="stylesheet" href="/static/stylesheets/stylesheet.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" type="text/css" href="/static/stylesheets/welcome.css" media="screen" />
<title>LinkedLearning </title>
</head>
<body>
  <div id="about">
    <div id="creatorContainer">
      <div class="creator">
        <div id="rudy" class="circle"></div><br>
        RUDY DAI
        <div class="social-icons">
          <a href="http://www.github.com/rudydai"><div class="github icon"></div></a>
          <a href="http://www.linkedin.com/pub/rudy-dai/55/5a2/a57"><div class="linkedin icon"></div></a>
          <a href="mailto:rudydai@gmail.com">
          <div class="email icon"></div></a>
        </div>
      </div>

      <div class="creator">
        <div id="david" class="circle"></div><br>
        DAVID CHANG
        <div class="social-icons">
          <a href="http://www.github.com/supermacaw"><div class="github icon"></div></a>
          <a href="http://www.linkedin.com/pub/david-chang/9/716/723"><div class="linkedin icon"></div></a>
          <a href="mailto:supermacaw@gmail.com"><div class="email icon"></div></a>
        </div>
      </div>

      <div class="creator">
        <div id="michelle" class="circle"></div><br>
        MICHELLE HWANG
        <div class="social-icons">
          <a href="http://www.github.com/michellehwang"><div class="github icon"></div></a>
          <a href="http://www.linkedin.com/pub/michelle-ruby-hwang/54/116/762"><div class="linkedin icon"></div></a>
          <a href="mailto:michellerubyhwang@gmail.com"><div class="email icon"></div></a>
        </div>
      </div>
    </div>
  </div>


  <div id="header">
    <span id="logo">LINKED<span id="logo-learning">LEARNING</span></span><br>
    <div id="description">
      learning goals formed through your professional network

      <div id="signIn">
      to access your data, please <a href="https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id=m70mm27vpve4&state=aaa&redirect_uri=http://linkedlearning.herokuapp.com/youarein" class="link">sign in</a>
      </div>

      <div id="showOrHide">
         <span id="hideCreators" class="hidden" onclick="$('#about').animate({ width: '0%'}); $(this).toggleClass('hidden'); $(this).siblings().toggleClass('hidden');"> hide creators </span>  

         <span id="showCreators" onclick="$('#about').animate({ width: '35%'}); $(this).toggleClass('hidden'); $(this).siblings().toggleClass('hidden');"> show creators </span>
      </div>
    </div>

  </div>

</body>
</html>
