Django==1.5.1
Jinja2==2.6
Mako==0.5.0
MarkupSafe==0.15
Werkzeug==0.8.3
beautifulsoup4==4.2.1
eventlet==0.13.0
greenlet==0.4.1
httplib2==0.7.2
oauth==1.0.1
requests==1.2.3
simplejson==2.3.2
wsgiref==0.1.2
dj-database-url==0.2.1
dj-static==0.0.5
gunicorn==17.5
psycopg2==2.5.1
static==0.4
